@model IEnumerable<MVC_Laptop.Models.Laptop>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Favorite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if(item.ImageUrl != null)
                {
                    <img src="@Url.Content(item.ImageUrl)" alt="Image"/>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Favorite)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LaptopId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LaptopId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LaptopId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
