@model Mvc_Laptop_Manually.Models.Laptop

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Laptop</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">

        </dt>
        <dd class="col-sm-10">
            @if (Model.ImageName != null)
            {
                <img src="@("~/Image/" + Model.ImageName)" alt="Model.ImageName" asp-append-version="true" width="150" height="100"/>
            }    

        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScreenSize.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resolution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resolution.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CPU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CPU.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GPU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GPU.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RAM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RAM.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HardDrive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HardDrive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Favorite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Favorite)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LaptopId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
