@model Mvc_Laptop_Manually.Models.Laptop

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            </dt>
        <dd class="col-sm-10">
            @if (Model.ImageName != null)
            {
                <img src="@("~/image/" + Model.ImageName)" alt="Model.ImageName" asp-append-version="true" width="150" height="100" />
            }

        </dd>
            

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScreenSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScreenSize.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resolution)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resolution.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CPU)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CPU.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GPU)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GPU.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RAM)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RAM.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HardDrive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HardDrive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Favorite)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Favorite)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LaptopId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
