@model IEnumerable<Mvc_Laptop_Manually.Models.Laptop>

@{
    ViewData["Title"] = "Index";
}

<h1>Current Added List of Laptops</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageFile)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Favorite)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.ImageName != null)
                {
                <img src ="@("~/image/" + item.ImageName)" alt="item.ImageName" asp-append-version="true" width="150" height="100" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Favorite)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.LaptopId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LaptopId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LaptopId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
